:root {
  --cyan: #26bfef;

  --light-blue: #6990f4;

  --gray-light: #787878;
  --gray-100: #1c1c1c;
  --gray-200: #1a1a1a;
  --gray-300: #1a1a1a;
  --gray-500: #0f0f0f;
  --gray-600: #0b0b0b;
}

* {
  box-sizing: border-box;
  position: relative;
}

html {
  background-color: var(--gray-200);
  color: white;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/bg-beast.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

.form-container {
  background-color: var(--gray-500);
  width: 712px;
  height: 873px;
  border-radius: 12px;
  padding: 56px 54px;
}

.form-title {
  font-weight: 600;
  margin-bottom: 48px;
}

.form-title h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.form-title p {
  font-size: 16px;
}

.highlight-p :is(a) {
  color: var(--cyan);
  text-decoration: none;
  transition: color 0.1s ease-in;
}

.highlight-p :is(a:hover) {
  color: #66dbff;
}

.label-form {
  position: relative;
  margin-bottom: 32px;
}

.label-form:last-of-type {
  margin-bottom: 48px;
}

.input-form {
  font-size: 18px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--gray-100);
  border-color: var(--gray-300);
  width: 100%;
  height: 72px;
  border-radius: 8px;
  caret-color: #787878;
  font-family: 'Inter', sans-serif;
}

.input-form:focus {
  border: var(--cyan) solid 1px;
}

.input-inside-name {
  color: #0b0b0b;
  position: absolute;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.form-button {
  background-color: var(--cyan);
  width: 100%;
  height: 94px;
  font-size: 24px;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.25);
  transition: background-color 0.1s ease-in, color 0.08s ease-in;
  font-family: 'Inter', sans-serif;
}

.form-button:hover {
  color: white;
  background-color: #26bfef;
}

.input-inside-name {
  user-select: none;
  font-size: 18px;
  font-weight: 600;
  color: #787878;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 12px;
}

.focus-input-js {
  font-size: 12px;
  transition: all ease-in-out 0.1s;
}

form i {
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 35%;
  color: #787878;
  cursor: pointer;
}
